<div class="container-fluid footer bg-dark text-light">
  <div class="row footer-info justify-content-center align-items-center">
    <div class="col-md-4">
      <a class="navbar-brand" href="#">Made with ❤️</a>
      <span class="navbar-brand mb-0 h1">Author: Daniel Cu Sánchez</span>
    </div>
  </div>
</div>